body {
  font-size: 16px;
  margin-bottom: 0;
  }

.fragment.media:first-child {
  margin-top: 15px;
  }

  
#frags svg {
  overflow: visible;
  }

#drawing > svg {
  overflow: visible;
  margin: auto;
  display: block;
  }
  
@media (max-width: 970px) {
  .container {
    max-width: 970px;
  }
  
  .fragment {
    display: grid !important;
  }
}

html {
  position: relative;
}

body {
  margin-bottom: 0;
  min-height: 100vh;
}

.footer {
  font-color: 	#A9A9A9;
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  width: 100%;
  background-color: #f5f5f5;
}

.footer p {
  margin: 10px;
  }￼￼
  ￼CANCEL
  ￼OK
  

#bde_reg {
  text-align: center;
  font-size: 20px;
  }

#smiles-input {
  margin-top: 5em;
  display: flex;
  }

#smiles-title {
  word-wrap: break-word;
  word-break: break-all;
  }
  
#smiles-header * {
  max-width: 50%;
  white-space: normal;
  display: inline;
  }
  
.btn {
  margin-left: 10px;
  }

#bde_reg p {
  text-align: center;
  font-size: 20px;
  }

#bde_reg p span.label {
  font-size: 100%;
  }

  
