body {
  font-size: 16px;
  margin-bottom: 0;
  }

.fragment.media:first-child {
  margin-top: 15px;
  }

  
#frags svg {
  overflow: visible;
  }

#drawing > svg {
  overflow: visible;
  margin: auto;
  display: block;
  }
  
@media (max-width: 970px) {
  .fragment {
    display: grid !important;
  }
}


html {
  position: relative;
}

body {
  margin-bottom: 0;
  min-height: 100vh;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
}

.footer {
  font-color: 	#A9A9A9;
  /* position: absolute; */
  bottom: 0;
  /* Set the fixed height of the footer here */
  width: 100%;
  background-color: #f5f5f5;
}

.footer p {
  margin: 10px;
  }￼￼

footer {
  bottom: 0 !important;
  width: 100%;
  }

#footer {
  bottom: 0 !important;
  width: 100%;
  }
  
#content {
  min-height: 50%;
}

  #footer-block {
    display: -webkit-box;
  }

@media (max-width: 768px) {
  #footer-block {
    display: -webkit-flex;
  }
}

#bde_reg {
  text-align: center;
  font-size: 20px;
  }

#smiles-input {
  margin-top: 5em;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ 
  }

#smiles-title {
  word-wrap: break-word;
  word-break: break-all;
  }
  
#smiles-header * {
  max-width: 50%;
  white-space: normal;
  display: inline;
  }
  
.btn {
  margin-left: 10px;
  }

#bde_reg p {
  text-align: center;
  font-size: 20px;
  }

#bde_reg p span.label {
  font-size: 100%;
  }

div#affiliation p {
  font-style: italic;
  margin-bottom: 0em;
  }

div#content {
  flex-grow: 1;
  }

img#alfabet_logo {
  max-width: 100%;
  }
